// STYLES FOOTER
footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: var(--grey-dark);
  color: var(--white);

  .copyright {
    background: var(--grey-dark);
    width: 100%;
    height: 100%;
    padding-inline: 1em;
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: "Fira Code";
    font-weight: 500;
    font-size: var(--fs-tiny);

    .scorpio {
      color: var(--crimson);
      text-decoration: none;
    }
  }

  .show-btn {
    background: var(--grey-dark);
    font-size: var(--fs-small);
    width: 100%;
    border: none;
    color: var(--white);
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.7em 2em;
    //border-radius: 0.5em;
    cursor: pointer;
  }
  .show-arrow {
    margin-inline: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid var(--white);
    transition: transform ease-in-out 0.3s;
  }
  .arrow-change {
    transform: rotate(180deg);
  }
}

// STYLES FOOTER CONTENT

.footer-menu {
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  padding: 10px;
  background-color: var(--grey-dark);
  color: var(--white);

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;

  .social {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    font-size: var(--fs-large);
  }
  .links {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    font-size: var(--fs-base);

    .link > a {
      text-decoration: none;
      color: var(--white);
      padding-inline: 10px;

      &:hover {
        color: var(--sun);
      }
    }
  }
}
